<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuracion de LogBack-->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Layout  -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

	<!-- Nivel del root-->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  </configuration>